<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-bookmark"></span> Welcome to Dashboard
    </div>
    <div class="panel-body">
      <a href='../line' class="btn btn-danger btn-lg btn-block">
        <span class="glyphicon glyphicon-signal"><br>Line</a>
      </button>
      <a href='../pie' class="btn btn-warning btn-lg btn-block">
        <span class="glyphicon glyphicon-cd"><br>Pie</a>
      </button>
      <a href='../bar' class="btn btn-primary btn-lg btn-block">
        <span class="glyphicon glyphicon-stats"><br>Bar</a>
      </button>
      <a href='../mapsChart' class="btn btn-success btn-lg btn-block">
        <span class="glyphicon glyphicon-globe"><br>Maps</a>
      </button>
      <a href='../login' class="btn btn-info btn-lg btn-block">
        <span class="glyphicon glyphicon-user"> AdminPanel</a>
      </button>
    </div>
  </div>

</body>
</html>
