<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Maps</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Content Management System</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../home">Home</a></li>
          <li><a href="../data">Data</a></li>
          <li><a href="../datadate">Data Date</a></li>
          <li class="active"><a href="#">Maps</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" id="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="panel panel-success">
      <div class="panel-heading text-center">MAPS
      </div>
      <div class="panel-body">
        <div id="input-alert" class="alert alert-info" role="alert"></div>
        <div id="input-alert2" class="alert alert-danger" role="alert"></div>

        <button id="add-btn" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button><br><br>

        <div id="add-form" class="panel panel-primary" style="display: none;">
          <div class="panel-body bg-info">

            <form class="form-inline">

              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="addTitle" placeholder="title of map">
              </div>

              <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="float" class="form-control" id="addLatitude" placeholder="0.0000">
              </div>

              <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="float" class="form-control" id="addLongitude" placeholder="0.0000">
              </div>

              <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>

            </form>

          </div>
        </div>

        <h2>Search</h2><hr>

        <form class="form-inline">

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="searchTitle" placeholder="title..">
          </div>

        </form><br>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>No</th>
              <th>ID</th>
              <th>Title</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
  let id = "";

  $(document).ready(function(){
    auth(localStorage.getItem('token'));
    $('#input-alert').hide();
    $('#input-alert2').hide();
    getData();
  });

  $('#add-btn').click(function() {
    $('#add-form').show();
  })

  $('#add-form').submit(function(e) {
    e.preventDefault();
    $('#add-form').hide();
    saveData();
  })

  function getData() {
    $.ajax({
      url: 'http://localhost:3001/api/maps',
      method: 'GET'
    }).done(data => {
      console.log(data);
      showTable(data);
    })
  }

  function saveData() {
    let title = $('#addTitle').val();
    let lat = $('#addLatitude').val();
    let lng = $('#addLongitude').val();
    if(isNaN(lat) === true || isNaN(lng) === true){
      dangerAlert("Please insert FLOAT number !")
      $('#add-form').show();
    }else {
      if(id == ""){
        $.ajax({
          url: 'http://localhost:3001/api/maps/',
          method: 'POST',
          data: {
            title: title,
            lat: lat,
            lng: lng
          }
        }).done(data => {
          showAlert('Data has been added');
          $('#addTitle').val('');
          $('#addLatitude').val('');
          $('#addLongitude').val('');
          $('#input-alert').hide(5000);
          $('#input-alert2').hide();
          getData()
        })
      }else {
        $.ajax({
          url: 'http://localhost:3001/api/maps/' + id,
          method: 'PUT',
          data: {
            title: title,
            lat: lat,
            lng: lng
          }
        }).done(data => {
          showAlert('Data has been edited');
          $('#addTitle').val('');
          $('#addLatitude').val('');
          $('#addLongitude').val('');
          $('#input-alert').hide(5000);
          $('#input-alert2').hide();
          getData();
          id = "";
        })
      }
    }
  }

  function showTable(add) {
    let no = 0;
    let trHTML = '';
    add.forEach(data => {
      no++;
      trHTML += `<tr>`;
      trHTML += `<td>${no}</td>`;
      trHTML += `<td>${data._id}</td>`;
      trHTML += `<td>${data.title}</td>`;
      trHTML += `<td>${data.lat}</td>`;
      trHTML += `<td>${data.lng}</td>`;
      trHTML += `<td>`
      trHTML += `<button class="editBtn btn btn-success" containid="${data._id}" containtitle="${data.title}" containlat="${data.lat}" containlng="${data.lng}"><span class="glyphicon glyphicon-pencil"> Edit</span></button>`
      trHTML += `<button class="deleteBtn btn btn-danger" containid="${data._id}"><span class="glyphicon glyphicon-trash"> Delete</span></button>`
      trHTML += `</td>`
      trHTML += `</tr>`
    })
    $('table tbody').html(trHTML);
  }

  $('table tbody').on('click', '.editBtn', function() {
    $('#addTitle').val($(this).attr('containtitle'));
    $('#addLatitude').val($(this).attr('containlat'));
    $('#addLongitude').val($(this).attr('containlng'));
    id = $(this).attr('containid');
    $('#add-form').show();
  })

  $('table tbody').on('click', '.deleteBtn', function() {
    let cnfrm = confirm('Are you sure want to delete this data ?')
    if(cnfrm){
      $.ajax({
        url: 'http://localhost:3001/api/maps/' + $(this).attr('containid'),
        method: 'DELETE'
      }).done(data => {
        dangerAlert('Data has been deleted');
        getData();
      })
    }
  })

  function searchData() {
    let title = $('#searchTitle').val();
    let lat = $('#searchLat').val();
    let lng = $('#searchLng').val();
    if(typeof title !== 'string'){
      dangerAlert("Please insert FLOAT number !")
    }else {
      $.ajax({
        url: 'http://localhost:3001/api/maps/search',
        method: 'POST',
        data: {
          title: title,
          lat: lat,
          lng: lng
        }
      }).done(data => {
        $('#input-alert').hide();
        $('#input-alert2').hide();
        showTable(data)
      })
    }
  }

  $('#searchTitle').keyup(function() {
    searchData();
  })

  $('#logout').click(function(e) {
    e.preventDefault();
    localStorage.clear();
    window.location = '/login';
  })

  function showAlert(data) {
    $('#input-alert').show();
    $('#input-alert').html(data);
  }

  function dangerAlert(data) {
    $('#input-alert2').show();
    $('#input-alert2').html(data);
  }

  function auth(token) {
    $.ajax({
      url: 'http://localhost:3001/api/users/check',
      method: 'POST',
      data: {
        token: token
      }
    }).done(data => {
      if(!data.valid){
        window.location ='/login';
      }
    })
  }

  </script>


</body>
</html>
